.title {
  background-color: #353535;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.items {
  background-color: #757575;
  margin: 1px 0px 0px 0px;
}

.item {
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}
