.personal_title, .local_title, .global_title {
  background-color: #353535;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.personal_banks, .local_banks, .global_banks {
  background-color: #757575;
  margin: 1px 0px 0px 0px;
}

.bank {
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}

#battery_icon {
  float: left;
  padding-right: 10px;
}

#fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
}

a:link {
  text-decoration: none;
}
