.img {
  text-align: center;
}

.cc_icon {
  width: 150px;
  padding: 75px;
}

.details {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.login {
  text-align: center;
  color: #fff;
}

input {
  margin-bottom: 10px;
  font-family: "Gill Sans", sans-serif;
  font-size: 1em;
  font-weight: 100;
}

.input-border {
  padding: 10px;
  background-color: #353535;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 15px;
  transition: border 0.3s;
}
.input-border:focus,
.input-border.focus {
  border: solid 2px #353535;
}
